body {
    overflow: hidden;
    position: relative;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;

}
body a {
	color:red;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"],.button {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	/* font-family: 'Lato', sans-serif; */
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type:none;
		
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/

.w3ls-banner {
    background: url(../images/back.jpg) no-repeat;
	background-size: cover;
    min-height: 100vh;
    color: white;
	background-position:center;
	padding-top: 30px;	
}
.heading {
    text-align: center;
	    margin-bottom: 20px;
		letter-spacing: 1px;
}
.heading h1 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500;
}
.heading h2 {
    font-weight: 400;
}
.heading p {
    font-size: 16px;
    margin-top: 20px;
}
.container {
	width: 620px;
    margin: auto;
    padding: 30px 30px 20px;
    box-sizing: border-box;
}

label.form-label {
    display: inline-block;
    width: 30%;
	    font-weight: 400;
		letter-spacing: 1px;
		    vertical-align: top;
}
.form-input {
    display: inline-block;
    width: 69%;
}
ul.field-list li {
    margin: 15px 0px;
}
select {
	width: 99%;
    padding: 4px;
	background-color: #fff;
	outline:none;
}
.dob select {
    width: 33%;
}

input[type="text"] {
 /*   margin: 15px 0px; */
    padding: 7px 10px;
	box-sizing: border-box;
	background-color:#fff;
	border: none;
	outline:none;
	width: 99%;
	    color: #0f0e10;
}
span.form-sub-label input[type="text"] {
    margin: 10px 0px 20px;
	width: 49%;
}
span.form-required {
    color: red;
}

label.form-label1 {
    display: inline-block;
    margin: 15px 0px;
	letter-spacing: 1px;
}
label.type-of-test {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
	letter-spacing: 1px;
	font-weight: 100;
	    font-size: 14px;
}
textarea {
    width: 98%;
	background-color:#fff;
	outline:none;
}
input[type="submit"], .button {
    display: table-cell;
    margin: 10px;
    width: 80px;
    padding: 10px 10px;
    margin-top: 25px;
	 background-color: #E91E63;
	 border:none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
	outline: 0;
	cursor: pointer;
}

input.year {
	width: 31% !important;
	    padding: 6px;
}
input[type="email"] {
	padding: 7px;
	background-color:#fff;
	border: 0;
	width: 95%;
	    color: #0f0e10;
		outline:none;
}
span.form-sub-label {
    position: relative;
}

label.form-sub-label1 {
    position: absolute;
    bottom: -30px;
    left: 15px;
    min-height: 14px;
    font-size: 14px;
	font-weight: 500;
    letter-spacing: 1px;
}
input[type="checkbox"] {
    vertical-align: middle;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #024d88;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #024d88;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #024d88;
}
:-moz-placeholder { /* Firefox 18- */
  color: #024d88;
}
.copyright p {
    text-align: center;
    padding: 15px 5px;
	    letter-spacing: 1px;
    font-size: 15px;
}
.copyright a {
    color:#e91e63;
}
.copyright a:hover {
    color: red;
}
/* respoinsive */
@media screen and (max-width: 640px){
	.container {
    width: 560px;
    margin: auto;
    padding: 30px 15px 20px;
	}
}

@media screen and (max-width: 600px){
	.w3ls-banner {
		background-position: 70% center;
	}
label.type-of-test {
    display: inline-block;
    width: 140px;
}
}

@media screen and (max-width: 568px){
	.container {
    width: 450px;
	}
	label.type-of-test {
    width: 40%;
	}
	label.form-sub-label1 {
    position: absolute;
    bottom: -28px;
    left: 5px;
    font-size: 13px;
    display: block;
}

}

@media screen and (max-width: 480px){
	.container {
    width: 430px;
	padding: 17px 10px 20px;
}	
}
@media screen and (max-width: 414px){
	.form-input {
    width: 100%;
}
.container {
    width: 350px;
}
label.form-label {
width: 100%;
    margin-bottom: 7px;
}
input.year {
    width: 41% !important;
}
label.form-sub-label1 {
    bottom: -22px;
    left: 4px;
    font-size: 13px;
    letter-spacing: 1px;
}
.heading h2 {
     font-size: 22px;
}
.dob select {
    width: 42%;
}
select.day {
     width: 90px;
}
input[type="email"] {
     width: 95%;
}
textarea {
    width: 97%;
}
}

@media screen and (max-width: 384px){
	
	.heading h1 {
     margin-bottom: 20px;
    font-size: 30px;
}
}

@media screen and (max-width: 375px){
	
	.container {
    width: 320px;
}
	label.type-of-test {
    width: 40%;
    margin-left: 5px;
}
label.form-sub-label1 {
    bottom: -25px;
}
input.year {
    width: 39% !important;
}
.heading h2 {
    font-size: 20px;
}
.heading p {
    font-size: 15px;
    margin-top: 15px;
}
span.form-sub-label input[type="text"] {
    margin: 0px 0px 20px;
}

}

@media screen and (max-width: 320px){
	
	.heading h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
.container {
    width: 270px;
	padding: 15px 5px 15px;
}
.heading h2 {
    font-size: 17px;
}
.heading p {
    font-size: 13px;
    margin-top: 15px;
}
.dob select {
    width: 38%;
}
span.form-sub-label input[type="text"] {
    margin: 0px 0px 21px;
    width: 99%;
}
input.year {
    width: 40% !important;
    margin-top: 0px !important;
}
label.type-of-test {
	width: 36%;
    margin-left: 7px;
    font-size: 14px;
}
input[type="email"] {
     width: 93.5%;
}
select.day {
    width: 47px !important;
}
textarea {
    width: 97%;
}
input[type="text"] {
	width: 99%;
}
	label.form-label1 {
    margin: 8px 0px;
	}
	.copyright p {
		    font-size: 14px;
}

}

table.redTable {
  border: 2px solid #000000;
  background-color: #030826;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #000000;
  border: 2px solid #000000;
  padding: 5px 2px;
}
table.redTable tbody td {
  background: #A6806A;
  font-size: 13px;
}

.scoreBoard{
    width: 100%;
    display: table;
}

.score{
    word-break: break-word;
    background: #0f3f4e;
    text-align: center;
    display: table-cell;
    padding: 5px 0px;
    border: 2px solid #000000;
}

.info{
    margin: 16px 0px;
    background: #0f3f4e;
    border: 2px solid #000;
    text-align:center;
    padding: 10px 10px;
}

.timer{
    background: #0f3f4e;
    text-align: center;
    font-size: 25px;
    padding:5px 5px;
    border: 2px solid #000000;
    margin: 16px 0px;
}

.card{
    margin: 16px 0px;
}
