---
---
@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #222222;
    background-image: none;
    padding: 1em 1em;
}

.site-footer {
    clear: both;
    text-align: center;
}

p,ul,ol {
    text-align: justify;
}
